.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 70px;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #546e89;
  max-height: 1.5rem;
}

.nav-link {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 3rem;
}

.nav-item {
  text-decoration: none;
  color: #546e89;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #ff6347;
}

.nav-item.active {
  border-bottom: 2px solid #ff6347; /* Underline for the active link */
  color: #ff6347;
}
